*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
}

a{
    text-decoration: none;
}

.margen-interno{
    padding: 0 50px;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        background: black;
        display: flex;
        flex-flow: column nowrap;
        background: url(../img/otono.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
    }
        .menu{
            background: rgba(0, 0, 0, 0.3);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                    background: rgba(0, 0, 0, 0.6);
                    text-decoration: none;
                    letter-spacing: 4px;
                    padding: 20px;
                }
                    .logo a:hover{
                        color: #FF6347 ;
                    }

            .nav{
                flex: 5 1 auto;
                padding: 100px;
            }
                .nav a{
                    color: #fff;
                    text-decoration: none;
                    margin: 20px;
                    letter-spacing: 2px;
                }
                    .nav a:hover{
                        color: #FF6347;
                    }

            .redes{
                flex: 1 1 auto;
            }
                .redes a{
                    color: #fff;
                    font-size: 200%;
                    margin-right: 20px;
                }
                    .redes a:hover{
                        color: #FF6347;
                    }

        .texto-principal{
            background: rgba(0, 0, 0, 0.5);
            height: 580px;
            display: flex;
            align-items: center;
        }
            h1{
                font-family: 'lora', serif;
                font-size: 21px;
                font-weight: 300;
                line-height: 1.6;
                color: #fff;
            }

    .section{
        background: rgba(255,187,51,0.7);
        display: flex;
    }
        .articulos{
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                /*background: #ececec;*/
                background: rgba(255,187,51,0.7);
            }
                .article img{
                    width: 100%;

                }
                .article a{
                    background: #000;
                    color: #fff;
                    text-decoration: none;
                    font-size: 13px;
                    padding: 10px;
                    display: inline-block;
                }
                    .article a:hover{
                        background: #546cc3;
                    }
            h3{
                color: black;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: black;
            }
            .navegacion{
                background: #000;
                flex: 1 1 100%;
                font-size: 20px;
                margin: 1px 10px 0 0px;
            }
                .navegacion a{
                    text-decoration: none;
                    font-size: 13px;
                    color: #fff;
                }
                    .navegacion a:hover{
                        color: #546cc3;   
                    }
        .aside{
            background: #f7f7f7;
            flex: 1 1 auto;
        }
        .aside img{
            width: 300px;
        }
            .publicidad{
                background: #f7f7f7;
            }
        h4  {
            color: #000;
        }

    .footer{
        background: black;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1px 0 0px 0;
    }
        .pie{
            background: #525E75;
            width: 300px;
        }
            .pie a{
                text-decoration: none;
            }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .nav a{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .menu{
        flex-direction: column;
    }
    .aside{
        flex-direction: column;
    }
}